
.resp-correcta{
    margin-top:1em;
    margin-bottom: 2.5em;
    
}
.pregunta{
    margin-top:2em;
}
.logo{
    height:120px !important;
}
.navbar{
    border-bottom: 1px solid rgb(170, 169, 169);
}