{%extends 'base.html'%}
{%block title%}Resultados{%endblock%}

{%block cabecera%}

    <h2 class="title">Jugador: {{jugador}}</h2>
    <h2 class="title">Marcador: {{marcador}}</h2>

{%endblock%}

{%block content%}

{% for resp in resultados %}
<div class="hero is-normal is-small ">
    <div class="title is-4">
    {%if resp[0]%}
    <img class="icon" src="/static/ok.png" alt="Acierto">
    {%else%}
    <img class="icon" src="/static/fail.png" alt="Fallo">
    {%endif%}
    </span>
    
        {{resp[1][0]}}
    </div>
</div>

<div class="subtitle resp-correcta">
    {{resp[1][1]}}
</div>

{%endfor%}
</ul>

{%endblock%}